.productItem {
  width: 100%;
  padding: 4.5rem 1.5rem 2rem 1.5rem;
  background: var(--white-900);
  text-align: center;
  border-radius: 1rem;
}
.productItem__heading {
  display: inline-block;
  padding-bottom: 1.5rem;
  border-bottom: 4px dotted var(--grey-100);
  margin-bottom: 2rem;
}
.productItem__filter {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  gap: 4rem;
}
.productItem__filter h1 {
  font-size: var(--fs-primary);
  font-family: var(--ff-home);
  text-transform: uppercase;
  color: var(--grey-200);
  cursor: pointer;
}
.productItem__filter h1.active {
  text-decoration: underline;
  color: var(--black-900);
}
.productItem__container {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 780px) {
  .productItem {
    padding: 4.6rem 2.4rem;
  }
}
